/* 
セレクタ		:h1
プロパティ	:color
値			:red
*/

h1{
	color: 	red;
}

/* ID要素 */
#test {
	font-size: 36px;
}

/* Class要素 */
.test {
	font-size: 9px;
}

/* 複数要素 */
#test, .test {
	border: 1px solid #ccc;
}

p {
	color: #00ff00;
	font-size: 14px;
	font-weight: bold;
	text-align: center;

	line-height: 1.5;
	text-decoration: underline line-through;	/* 複数指定も可能 */
	font-style: italic;
/*	display : none; */
}

/* 背景スタイル */
body {
/*	background-color: red; */
/*	background-image: url('xx.png'); */
/*	background-repeat: repeat-x; */
/*	background-position: 10px 10px; */
/*	background-attechment: fixed; */
/*	background: url('xx.png') no-repeat top right; */
}

/* ブロックスタイル  - 罫線、余白 */
#box1 {
	background-color:red;
	width: 50%;
	height: 50px;
/*
	border-bottom-color: green;
	border-bottom-width: 5px;
	border-bottom-style: solid; double;  dotted; dashed; inset; outset;
*/
	border: green 5px dotted;

	padding: 40px 100px 200px 5px;
	margin: 40px;
}

#header {
	background-color:red;
}
#main {
	background-color: blue;
	float :left;
	width: 300px;
}
#sidebar {
	background-color: yellow;
	float: left;
	width: 100px;
}
#footer {
	background-color: green;
	clear: left;
}

ul {
	list-style-type:  square; /*circle; none; */
	list-style-position: inside; /* outside */
}

ol {
	list-style-type:  lower-alpha; /* hiragana; */
}

li {
/*	display: inline; */
}

a {
	display: inline; /* block; */
}

.change {
	cursor: wait; /* move;  pointer; help; */
}

/*
 セレクタの指定
 a, b
 a b
 ab
*/
#greet >  .person {
	color : red;
}

div.person {
	color:green;
}
